*.o
*.elf
*.bin
*.hex

.vscode/.cortex-debug.peripherals.state.json
.vscode/.cortex-debug.registers.state.json

hardware/pm0214-stm32-cortexm4-mcus-and-mpus-programming-manual-stmicroelectronics.pdf
hardware/rm0090-stm32f405415-stm32f407417-stm32f427437-and-stm32f429439-advanced-armbased-32bit-mcus-stmicroelectronics.pdf
hardware/stm32f405rg.pdf
